.card__presentation {
    display: flex;
    height: 290px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
}

.card {
    border: 1.5px solid black;
    border-radius: 12px;
    background-color:#E5E5E5;
    width: 250px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75); 
}

.card__name {
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 100%;
    padding: .3rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.card__iten {
    font-size: 1.1rem;
    display: flex;
    gap: .3rem;
}

.card__description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .6rem;
}