.card__presentation {
    display: flex;
    height: 290px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
}

.card {
    border: 1.5px solid black;
    border-radius: 12px;
    /* background-color:rgb(0, 0, 0, .85); */
    width: 250px;
    box-shadow: 4px 4px 4px 0px rgba(115, 115, 115,0.75); 
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.2),rgb(0, 0, 0, .85));
}

.card__name {
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
    padding: .3rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.card__iten {
    font-size: 1.1rem;
    display: flex;
    gap: .3rem;
}

.card__description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .6rem;
}