.searchInput {
    width: 100%;
    padding: 1rem;
    border-radius: 24px;
    border: solid 1px #000000;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.searchInput::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}